.infoContainerDashboard {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-4);
  gap: var(--spacing-1);
  align-items: left;
  width: 100%;
}

.title h4 {
  font-weight: 500;
  font-size: var(--text-sm);
  max-width: 16rem;
  overflow: hidden;
}

.author h4 {
  font-weight: 400;
  font-size: var(--text-s);
}

.labelcontainer {
  padding-top: var(--spacing-1);
}

.labelcontainer h5 {
  font-weight: 300;
  font-size: var(--text-s);
}
