.backgroundContainer {
  --grid-size: 5.2vw;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 0.75fr 1fr;
  background: var(--main-color);

}

.backgroundContainer div:nth-of-type(2) {
  background-image:
    linear-gradient(var(--black) 0.5px, transparent 0.5px),
    linear-gradient(90deg, var(--black) 0.5px, transparent 0.5px);

  transition:
    background-size 0.2s var(--bezier),
    opacity 0.2s var(--bezier),
    transform 0.2s var(--bezier),
    filter 0.4s var(--bezier);

  scale: 0;
  opacity: 0.2;
}

.showGrid {
  scale: 1 !important;
  background-size: var(--grid-size) var(--grid-size) !important;

}