.imageOverlay.showAlways {
  opacity: 1 !important;
  background-color: rgba(145, 145, 145, 0.4);
}

.imageOverlay.hovered {
  opacity: 1 !important;
  background-color: rgba(145, 145, 145, 0.4);
}

.imageOverlay img {
  height: 40% !important;
  width: fit-content !important;
  cursor: pointer;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(var(--backdrop-filter));
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition:
    opacity 0.2s ease,
    background-color 0.2s ease;
}
