.overlay {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 100%;
  width: 100%;
  border-left: var(--border-base);
  padding: var(--spacing-4);
}

.upperContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.upperContainer h2 {
  font-weight: 400;
  font-size: var(--text-xl);
  text-transform: uppercase;
}

.channelContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.channelContainer a h3 {
  font-weight: 450;
  font-size: var(--text-s);
  text-decoration: underline;
}

.description {
  padding: var(--spacing-4) 0;
}

.description p {
  width: 75%;
  line-height: 120%;
}

.smallContainer {
  padding-top: var(--spacing-2);
  display: flex;
  flex-direction: column;
}

.genre {
  background-color: rgb(255, 208, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-base);
  border-radius: 45px;
  padding: var(--spacing-1) var(--spacing-2);
  transition: transform 0.2s linear;
  width: fit-content;
}

.genre h4 {
  font-weight: 400;
  font-size: var(--text-xxs);
  text-transform: uppercase;
}

.smallContainer small span {
  font-weight: 500;
  text-transform: uppercase;
}
